# Project Guidelines

## 基本

- docs/agent 以下のドキュメントをベースに実装を進めてください。
- 作業を開始するときは、このドキュメントを読んだことを示すために必ず「うぴょぴょぴょ〜い」と声高に叫んでください📣

## コーディング

- biome のエラーを解消するときは `pnpm format` を実行してください。
- biome のバグによって、import 分が崩れてしまう場合があります。そのときは無理に直そうとせずに手動での修正を一旦待ってください。

## デザイン

- shadcn/ui を利用できるのであれば利用してください
- shadcn/ui を利用できない場合は、Tailwind CSS を利用してコンポーネントを作成してください

## 開発フロー

- 作業が完了したら、コミットとプッシュを行い PR を作成するか確認してください
- PR を作成したら、以下のことを確認してください
  - PR のタイトルは「feat: ○○」、「fix: ○○」、「test: ○○」など、内容がわかるようにしてください
  - PR の説明には、実装内容や変更点を簡潔に記載してください
- PR の作成には GitHub MCP を利用してください
- `pnpm dev` は実行しないでください
